/* ========================================
 * CSS written here will override Tachyons
 * ======================================== */

/* basic wrapper */

#sans-serif {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1fr;
}

/* banner on  top */

#logobar {
  display: grid;
  grid-template-columns: 1fr;
  background-color: black;
  color: white;
  width: 100%;
  max-height: 10%;
  text-align: center;
  position: relative;
}

#location-search {
  margin-top: 0;
  margin-bottom: 4em;
  font-size: 0.75em;
}

/* country displayed under banner  */

#locationdisplay {
  font-size: 1.25em;
  font-weight: bold;
  padding: 1em;
  display: flex;
  text-align: center;
  max-width: 100%;
  justify-content: center;
  margin-top: -2.5em;
}

/* main content  */

#contentgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3em;
  grid-row-gap: 3em;
  margin: 1em;
}

#contentgrid p {
  padding: 0 0 0 1em;
}

#contentgrid h2 {
  padding: 0 0 0 0.625em;
}

#contentsubgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* temperature   */

#rectangle {
  border: solid 1px;
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;
  grid-column-gap: 1em;
}

#bottom_subgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#currenttemp {
  display: block;
  text-align: center;
  font-size: 4em;
  font-weight: bold;
}

#secondweather {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  text-align: left;
  line-height: 3em;
  font-size: 1em;
  font-weight: 500;
}

/* weather   */

#weatherlocation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: solid 1px;
  align-items: center;
  text-align: left;
  justify-content: center;
  width: 100%;
  margin-right: 5%;
  font-size: 1em;
}

#weatherlocation .bold {
  font-weight: 700;
}

/* WEATHER CLASSES */
/* temperature */

.cold {
  background-color: #6490f3;
}

.cold h4 {
  color: #6490f3;
}

.warm {
  background-color: #ffe258;
}

.warm h4 {
  color: #ffe258;
}

.hot {
  background-color: #ffa358;
}

.hot h4 {
  color: #ffa358;
}

/* weather */

.thunderstorm #weatherlocation {
  background-image: url("leaf4.jpg");
}

.haze #weatherlocation {
}

.mist #weatherlocation {
}

.drizzle #weatherlocation {
}

.rain #weatherlocation {
}

.snow #weatherlocation {
}

.atmosphere #weatherlocation {
}

.clear #weatherlocation {
}

.clouds #weatherlocation {
}

/*media queries*/

@media screen and (max-width: 600px) {
  #contentgrid {
    grid-template-columns: 1fr;
    margin: 0.5em;
  }
  #bottom_subgrid {
    grid-template-columns: 1fr;
  }
  #secondweather {
    text-align: center;
  }
  #weatherlocation {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
